.container {
  width: 100%;
  margin: 10px auto;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
  background-color: #1c2125;
}

h2 {
  font-size: 18px;
  text-align: center;
  padding: 10px 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.container > h3 {
  display: flex;
  align-items: center;
  justify-content: start;
  background: linear-gradient(135deg, #3b82f6, #8b5cf6);
  height: 54px;
  margin: 0px 0px 10px;
  padding-left: 20px;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-radius: 6px;
  font-size: 24px;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3) !important;
  border: 0;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  width: 348px;
  height: 220px;
  margin: 4px 4px 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3) !important;
}

.cardBody {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.navigationButtons {
  display: flex;
  margin: 0px 10px 15px;
  width: 100%;
}

.showMoreBtn {
  width: 120px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: linear-gradient(135deg, #3b82f6, #8b5cf6);
  height: 40px;
  font-size: 16px;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3) !important;
  border: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.showMoreBtn > :nth-child(1) {
  margin-left: 3px;
  height: 20px;
}

.showMoreBtn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.justify {
  display: flex;
  align-items: center;
  justify-content: end !important;
}
