h2 {
  font-size: 18px;
  text-align: center;
  padding: 10px 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.container {
  width: 100%;
  margin: 10px 0;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  border-radius: 6px;
  background-color: #1c2125;

  & > h3 {
    display: flex;
    align-items: center;
    justify-content: start;
    background: linear-gradient(135deg, #3b82f6, #8b5cf6);
    height: 54px;
    margin: 0px 0px 10px;
    padding-left: 20px;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-radius: 6px;
    font-size: 24px;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3) !important;
    border: 0;
  }
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.card {
  display: flex;
  width: 182px;
  height: 250px;
  margin: 4px 4px 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3) !important;
}

.cardBody {
  display: flex;
  justify-content: end;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.navigationButtons {
  display: flex;
  margin: 0px 10px 15px;
}

.showMoreBtn {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #3b82f6, #8b5cf6);
  height: 40px;
  font-size: 16px;
  margin-right: 10px;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3) !important;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.showMoreBtn > :nth-child(1) {
  margin-left: 3px;
  height: 20px;
}

.showMoreBtn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.justify {
  display: flex;
  align-items: center;
  justify-content: end !important;
}
