.componentContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(28, 33, 37);
  color: white;
  padding: 0 20px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
  width: 100%;
  margin-top: 150px;
  margin-bottom: 10px;
}

.filterContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 10px 0px;
  flex-wrap: nowrap;
}

.inputSearch {
  width: 100%;
}

.inputSearch input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
}

.dropdownContainer {
  z-index: 1000;
  position: relative;
}

.buttonn,
.dropdownButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 44px;
  margin: 10px 0;
  padding: 0 20px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  background: linear-gradient(135deg, #3b82f6, #8b5cf6);
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3) !important;
  border: 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.buttonn:hover,
.dropdownButton:hover {
  transform: scale(0.98);
  background: linear-gradient(135deg, #3b83f6de, #8a5cf6e7);
}

.filtersBox {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  width: 280px;
  max-height: 320px;
  overflow-y: auto;
  background-color: #1c2125;
  border-radius: 12px;
  padding: 12px;
  z-index: 10;
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.15);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}

.checkboxItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.2sease-in-out;

  &:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }

  input[type="checkbox"] {
    accent-color: #3b82f6;
  }
}

.selectedFilterContainer {
  margin-bottom: 15px;
}

.selectedFilters {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  align-items: center;
}

.selectedTag {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(255, 255, 255, 0.12);
  background-color: rgba(255, 255, 255, 0.08);
  color: rgba(255, 255, 255, 0.87);
  user-select: none;
  margin: 4px;
  gap: 2px;
  &:hover {
    background-color: rgba(255, 255, 255, 0.12);
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.16);
  }
}

.filtersBox::-webkit-scrollbar {
  width: 6px;
}

.filtersBox::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 3px;
}

.filtersBox::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  transition: background-color 0.2s;
}

.filtersBox::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
