.card {
  --line-clamp-value: 3;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  width: 100%;
  background-color: #1c2125;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3) !important;
  padding: 10px;
  color: white;
  cursor: pointer;
  transition: 0.3s;

  img {
    height: 280px;
    width: 180px;
    margin-right: 10px;
  }
  .shadow {
    height: 280px;
    width: 180px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .rating {
    display: flex;
    align-items: center;
    gap: 3px;
    position: absolute;
    left: 6px;
    top: 5px;
    font-size: 10px;
    filter: drop-shadow(0 0 1rem rgb(0, 0, 0));
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  }
  .cardBody {
    display: flex;
    flex-direction: column;
    min-height: 250px;
    width: 100%;
    justify-content: space-evenly;
    padding: 10px 20px;

    .cardHeader {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      position: relative;

      h3 {
        width: 100%;
        padding-right: 60px;
        color: white;
        font-size: 22px;
      }
      h5 {
        margin-top: 5px;
        width: 100%;
      }
      .status {
        width: max-content;
        align-self: center;
        position: absolute;
        right: 0;
        top: 0;
        padding: 5px;
        border-radius: 6px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3) !important;
        font-weight: 800;
        font-size: 16px;
        margin-left: 20px;
      }
    }

    p {
      color: white;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.5;
      margin: 12px 0;
      letter-spacing: 0.15px;
    }

    a {
      cursor: pointer;
      color: #3b82f6;
    }

    .textOverflow {
      display: -webkit-box;
      -webkit-line-clamp: var(--line-clamp-value);
      line-clamp: var(--line-clamp-value);
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    /* .tagsContainer {
      margin-top: auto;
    } */

    .tags {
      display: inline-flex;
      align-items: center;
      padding: 6px 12px;
      border-radius: 6px;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      border: 1px solid rgba(255, 255, 255, 0.1);
      background-color: rgba(255, 255, 255, 0.05);
      color: rgba(255, 255, 255, 0.8);
      user-select: none;
      margin: 5px 0px 20px;
      margin-right: 5px;
    }

    .tags:hover {
      background-color: rgba(255, 255, 255, 0.1);
      transform: translateY(-1px);
    }
  }
}
.card:hover {
  transform: translateY(-10px);
}
