* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background-image: url("https://cdn.animesaturn.cx/static/images/general/HitormiAS.png"), url("/media/backgroundHome.jpg");
  background-size: 285px, cover;
  background-position: bottom right, center;
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed, fixed;
  z-index: 0;
}

a {
  text-decoration: none;
  color: white;
}

.outlet {
  background-color: #1c2125;
}
